.explore { 
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
}

.menu-explore {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
}

.explore-container {
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 2px solid #000;
    width: 87%;
    height: 45px;
}

.border-show {
    transition: border-bottom 0.3s;
    border-bottom: 8px solid #4041F6;
}

.explore-container li {
    display: inline;
}

.explore-container li a {
    color: #000;
    font-size: 14px;
    display: inline-block;
    padding-bottom: 18px;
    margin-right: 10px;
    background-color: #fff;
}

.making-production {
    border-bottom: 8px solid #4041F6;
}

.main-container-explore {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.container-explore {
    display: flex;
    white-space: nowrap;
}

.icad-discovery {
    display: inline-block;
    height: 420px;
    margin: 20px;
    width: 296px;
    background-color: #FAFAFF;
}

.icad-discovery p {
    width: 250px;
    height: 50px;
    white-space: normal;
    margin: 20px;
}

.background-img {
    width: 296px;
    height: 168px;
    background-color: #4041F6;
    overflow: hidden;
}

.background-img img {
    position: relative;
    bottom: 20%;
}

.logo-container {
    height: 50px;
    margin: 20px;
}

.a-discovery {
    display: flex;
    justify-content: space-between;
}

.a-discovery a{
    margin-top: 15px;
    padding: 15px;
    width: 95%;
    background-color: #000;
}

.a-discovery img{
    margin-top: 15px;
    padding: 15px;
    background-color: #4041F6;
}

